.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
}

.ON {
    background-color: green;
}

.OFF {
    background-color: red;
}

.button:hover {
    opacity: 0.8;
}

.button2 {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
}

.ACT {
    background-color: green;
}

.DEACT {
    background-color: red;
}

.button:hover {
    opacity: 0.8;
}

.setup {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    margin: 5px;
}

.ACT {
    background-color: rgb(37, 145, 16);
}

.button:hover {
    opacity: 0.8;
}